* {
	margin: 0%;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	width: 100%;
	height: 6.5rem;
	background-color: rgb(103, 206, 94);
	background-repeat: no-repeat;
}

nav {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	gap: 8rem;
	font-size: 1.2rem;
}

nav a:hover {
	text-decoration:underline;
	color:aliceblue;
	transition: 0.4s;

}

main {
	display: flex;
    flex-direction: column;
} 

h1 {
	justify-content: center;
	text-align: center;
	text-shadow: 2px 2px;
	padding: 1rem;
	font-size: 3rem;
}

h2 {
	justify-content: center;
	text-align: center;
	color: blue;
	padding: 1rem;
}

ul a:hover {
	text-decoration: underline;
	color:blue;
}

* {
	font-family:Georgia, 'Times New Roman', Times, serif;
}
#img-logo {
	max-width: auto;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
}

.iglesia {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}
/* .img-logo {
	max-width: auto;
	height: auto;
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
	border-radius: 50%;
} */
/* #baner {
	background-image: url(conectate.jpg);
} */


article{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}


.div-art {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border: 1px solid black;
	height: 400px;
	width: 400px;
	/* padding: 1rem; */
	margin: 10px;
	padding: 0.5rem;

  }

  .div-art img{
	width: 100%;
	height: 23rem;

  }
  .div-art button{
	padding: 1rem;
  }